p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px
}
#nickName {
margin-right: 3%;

}
.imgStart {
	background: url("../img/backIm1.png") no-repeat fixed;
	background-size: contain;
	min-width: 1000px;
	height: 440px
}
.regForm {
    border: 2px solid red;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 300px;
    background-color: #9484AF;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	width: 60%;
}
.regLog {
    float: right;
    margin-right: 2%;
}
.down {
    position: absolute; /* Абсолютное позиционирование */
    top: 500px; /* Положение от нижнего края */
    left: 800px; /* Положение от правого края */
}
.dwn {
    font-size: 300%;
}
.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

img {
    width: 100%;
}

.formNews {
	color: #26140B;
	margin: auto;
	width: 75%;
	padding: 10px;
}
.comms {
    position: absolute; /* Абсолютное позиционирование */
    color: #26140B;
	margin: auto;
	width: 75%;
	padding: 10px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}

.blockNews {
	padding: 10px 10px 0px 10px;
	margin-top: 20px;
	border: 3px solid #257132;
}

.data {
	margin-top: 20px;
	text-align: right;
	color: #594D48;
}
.textNews{
	text-align: left;
	width: 80%;
}
.imgNews{

}