{% extends "base.html" %}
{% block content %}
<div class="formNews">
<h1>
	Новости
</h1>
<div class="blockNews">
<div class="textNews">

<h4> Новость 1 </h4>
<p>
	Вот здесь будут новости: новости, новости, новости, а еще... новости
</p>
</div>
<div class="imgNews">
<img src="static\img\backIm1.png" alt="Girl in a jacket" style="width:790px;height:200px;">
</div>
<div class="data">
<p>
13.2.2058 13:00
</p>
</div>
</div>
<div class="blockNews">
<div class="textNews">
<h4> Новость 2 </h4>
<p>
	Вот здесь будут новости: новости, новости, новости, а еще... новости
</p>
</div>
<div class="imgNews">
<img src="static\img\backIm1.png" alt="Girl in a jacket" style="width:790px;height:200px;">
</div>
<div class="data">
<p>
13.2.2063 13:00
</p>
</div>
</div>
	<div class="blockNews">
<div class="textNews">
<h4> Новость 3 </h4>
<p>
	Вот здесь будут новости: новости, новости, новости, а еще... новости
</p>
</div>
<div class="imgNews">
<img src="static\img\backIm1.png" alt="Girl in a jacket" style="width:790px;height:200px;">
</div>
<div class="data">
<p>
13.2.2065 13:00
</p>
</div>
</div>
</div>
{% endblock %}