<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="static\css\WebQuietCry.css">
	<link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
        crossorigin="anonymous">
    <title>Page Title</title>
    <style>
	body {
	  background-color: #D3916E;
	}
	</style>
</head>
<body>
<div class="imgStart">
<div class="regLog">
	<p> <br> </p>

</div>
</div>
<nav class="site-header sticky-top py-1">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <a class="py-2 d-none d-md-inline-block" href="#">Новости</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Лидеры</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Скачать</a>
    <a class="py-2 d-none d-md-inline-block" href="#">Донат</a>
    <a class="py-2 d-none d-md-inline-block" href="#">О нас</a>
  </div>
</nav>
<div class="formNews">
<h1>
	Новости
</h1>
<div class="blockNews">
<div class="textNews">

<h4> Новость 1 </h4>
<p>
	Вот здесь будут новости: новости, новости, новости, а еще... новости
</p>
</div>
<div class="imgNews">
<img src="static\css\backIm1.png" alt="Girl in a jacket" style="width:400px;height:400px;">
</div>
<div class="data">
<p>
13.2.2058 13:00
</p>
</div>
</div>
<div class="blockNews">
<div class="textNews">
<h4> Новость 2 </h4>
<p>
	Вот здесь будут новости: новости, новости, новости, а еще... новости
</p>
</div>
<div class="imgNews">
<img src="static\css\backIm1.png" alt="Girl in a jacket" style="width:400px;height:400px;">
</div>
<div class="data">
<p>
13.2.2063 13:00
</p>
</div>
</div>

</div>
</body>
</html>